
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*


# Diagnostic reports
report.*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock


# Coverage and test outputs
coverage/
*.lcov
.nyc_output
.grunt


# Build outputs and caches
dist/
build/
tmp/
temp/
out-tsc/
bazel-out/
lib-cov/
.cache/
.parcel-cache/
.rpt2_cache/
.rts2_cache_*/
.docusaurus/
.serverless/
.fusebox/
.dynamodb/
.tern-port
.sass-cache/


# Dependency directories
node_modules/
bower_components/
jspm_packages/
web_modules/
yarn.lock
package-lock.json


# TypeScript + bundler cache
*.tsbuildinfo
.npm/
.eslintcache
.stylelintcache

# Packaged files
*.tgz

# Yarn v2
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

# Env files
.env
.env.*
server/.env
link-forge-client/.env
link-forge-client/src/environments/*
!link-forge-client/src/environments/environment*.example.ts


# Angular client build & dev
link-forge-client/dist/
link-forge-client/out-tsc/
link-forge-client/.angular/
link-forge-client/.vscode/

# IDE / editor folders
.idea/
.vscode/
.history/
*.sublime-workspace
.project
.classpath
.c9/
*.launch
.settings/
.vs/

# Misc system files
.DS_Store
Thumbs.db
