.container {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.view-box {
  background: rgba(255, 255, 255, 0.05);
  padding: 1rem;
  border-radius: 12px;
  width: 100%;
  max-width: 1200px;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  color: white;
}

.table th,
.table td {
  vertical-align: middle;
}

.table thead th {
  background-color: rgba(0, 123, 255, 0.3);
}

.form-select,
.form-control {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  border: none;
}

::placeholder {
  color: white;
  opacity: 1;
}

.form-select:focus,
.form-control:focus {
  box-shadow: none;
  border: 1px solid #00ff84;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  
}
.form-select > option{
  background-color: #272D41;
}